In [5]:
import pandas as pd
import datetime
from pathlib import Path

In [6]:
data_atual = datetime.datetime.now().date()
arquivo_imoveis = "imobiliaria_a_" + str(data_atual) + ".csv"
caminho_arquivo_imoveis_a = "../dataframes_" + str(data_atual) + "/" + arquivo_imoveis


arquivo_imoveis_caracteristica = "imobiliaria_a_caracteristica_" + str(data_atual) + ".csv"
caminho_arquivo_imoveis_caract_a = "../dataframes_" + str(data_atual) + "/" + arquivo_imoveis_caracteristica

In [7]:
df_imoveis = pd.read_csv(caminho_arquivo_imoveis_a, sep=";")
df_imoveis.head()

,status,finalidade,tipo,dormitorios,quartos,cep,endereco,numero,complemento,bairro,...,iptu,promocao,dataregistro,condominiofechado,zoneamento,ImovelEntregue,datacadastro,dataupdate,Andar,valor_total
0,Disponível,Residencial,Casa,2,2,83709550,Rua Das Dálias,2151.0,Casa 02,Campina Da Barra,...,0.0,N,2023-09-26T00:10:29.657,N,Z,0,2023-08-09T17:31:13.117,NaN,0,280000.0
1,Disponível,Residencial,Casa,2,2,83705565,Rua Cesário Furman,551.0,NaN,Capela Velha,...,0.0,N,2023-09-26T00:10:29.657,N,Z,0,2023-07-31T13:19:57.420,NaN,0,310000.0
2,Disponível,Residencial,Casa,3,2,83708340,Rua Atílio Bosquete,29.0,NaN,Tindiquera,...,0.0,N,2023-09-26T00:10:29.657,N,Z,0,2023-07-10T17:17:35.220,NaN,0,385000.0
3,Disponível,Residencial,Casa,4,4,83709540,Rua Das Acácias,2141.0,NaN,Campina Da Barra,...,0.0,N,2023-09-26T00:10:29.657,N,Z,0,2023-08-15T10:21:13.180,NaN,0,270000.0
4,Disponível,Residencial,Casa,3,3,83709556,Rua Ronaldo Alfeu Bacelar,308.0,Casa de esquina,Campina Da Barra,...,0.0,N,2023-09-26T00:10:29.657,N,zu 03,0,2023-04-14T12:05:48.507,NaN,0,230000.0

In [8]:
df_imoveis_caract = pd.read_csv(caminho_arquivo_imoveis_caract_a, sep=";")
df_imoveis_caract.head()

,bairro,cidade,estado,dormitorios,Quartos,metragem,area_total,garagem,idade,condominiofechado,esquina,Andar,AceitaPets,MobiliadoCombo,garden,elevador,Academia,MobiliadoVenda,Gas
0,Campina Da Barra,Araucária,PR,2,2,73.08,73.08,1,4,N,NaN,0,0,Nao,0,0,0,0,1
1,Capela Velha,Araucária,PR,2,2,48.58,48.58,2,5,N,N,0,0,Nao,0,0,0,0,1
2,Tindiquera,Araucária,PR,3,2,74.00,74.00,1,0,N,N,0,0,Nao,0,0,0,0,1
3,Campina Da Barra,Araucária,PR,4,4,120.00,120.00,1,0,N,NaN,0,0,Nao,0,0,0,0,1
4,Campina Da Barra,Araucária,PR,3,3,180.00,180.00,1,24,N,N,0,0,Nao,0,0,0,0,1